body {
	min-width: 0;
}
#header {
	padding: 20px 0;
	position: relative;
	width: 100%;
}
#header a.logo {
	width: 40%;
}
#header a.logo img {
	width: 80%;
}
#header ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 19px;
}
#header ul li a {
	color: #252525;
	display: inline-block;
	font-family: Arial, Gadget, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 5px 0 3px;
	text-decoration: none;
	text-transform: uppercase;
}
#header ul li a:hover, #header ul li.selected a {
	color: #0ba39c;
}


#body #featured div {
	left: 200px;
	margin: 0;
	padding: 0 2%;
	position: absolute;
	top: -40px;
	text-align: left;
	width: 96%;
}
#body #featured div h2 {
	font-size: 20px;
	font-weight: normal;
	margin: 50px 0 10px;
	padding: 8px 5px;
	width: 338px;

}
#body #featured div span {
	display: block;
	font-size: 20px;
	margin: 10px 0;
	padding: 10px;
}
#body #featured div a {
	font-size: 14px;
	margin: 5px 0 0;
	padding: 10px;
}
#body > ul {
	overflow: visible;
	padding: 0 5%;
	width: 90%;
}
#body ul.gallery {
	padding: 5% 0;
	overflow: hidden;
	width: 100%;
}
#body > ul li {
	float: left;
	margin: 0;
	width: 49%;
}
#body ul.gallery li {
	float: left;
	margin: 0 0 5% 5%;
	width: 42%;
}
#body > ul li a img {
	width: 98%;
}
#body > ul li a span {
	padding: 15px 0;
}
#body div ul {
	margin: 0;
	padding: 20px 0 0;
	width: 100%;
}
#body div ul li {
	overflow: visible;
	padding: 0 0 20px;
	width: 99%;
}
#body div ul li .figure {
	border: 0;
	display: block;
	float: none;
	margin: 0 0 20px;
	width: 100%;
}
#body div ul li .figure img {
	width: 100%;
}
#body div ul li div {
	float: none;
	padding: 0;
	width: 100%;
}
#body div ul li div a.more:hover {
	height: 14px;
	line-height: 14px;
}
#body form {
	width: 100%;
}
#body form input, #body form textarea {
	margin: 0 0 20px;
	padding: 10px;
	width: 84%;
}
#body form #send {
	padding: 10px;
}
#footer {
	padding: 10px 0 25px;
    clear: both;
}
#footer div {
	overflow: visible;
	width: 100%;
}
#footer div p {
	float: none;
	margin: 0;
	text-align: center;
}
#footer div ul {
	float: none;
	margin: 0 auto;
	width: 256px;
}

#body > div .article {
	margin: 0 auto;
	padding: 30px 30px 0;
	width: 560px;
}
@media screen and (min-width:651px) and (max-width: 820px){
	#body > div .article {
	margin: 0px 50px;
	padding: 0px;
	width: 500px;
}

}
#body > div .article h2 {
	font-family: Arial, Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
}
#body > div .article h3 {
	color: #252525;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#body > div .article h4 {
	background: #252525;
	color: #fff;
	display: inline-block;
	font-family: Arial, Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 30px;
	padding: 8px 27px 10px;
}
#body > div .article p {
	margin: 0 0 30px;
}



