<div id="body">
    <h1><span>Dónde estamos</span></h1>
    <div>
        
        <div class="article">
            
            <img class="fotosPequenas bordeRedonSombra" src="images/despachoGoya.jpg" alt="Despacho Goya">
        
            <h3>Madrid</h3>
            
            <p>
                <b>C/ Goya 83. 3ºDrcha. Barrio de Salamanca </b>
            </p>
           
                <h3>Colmenar Viejo</h3>
             <p>
                <b>Calle del Pilar, 7 </b>
            </p>
            
                <h3>Miraflores de la Sierra</h3>
            <p>
                <b>Travesía de la Luz, 5 </b>
            </p>
           
                <h3>Cita previa</h3>
             <p>
                <b>918443621 – 644435941 <br>
                irenegc@cop.es</b>
            </p>
            
            
        </div>
    </div>
</div>
