<div id="body">
    <h1><span>Infantil y adolescentes</span></h1>
    <div>
        
        <div class="article">
            <figure>
                    <img class="fotosPequenas bordeRedonSombra" src="images/cajadearena.jpg" alt="cajon de arena">
                    <img class="fotosPequenas bordeRedonSombra" src="images/planetas.jpg" alt="planetas">
            </figure>
            <h3>Cuestiones que tratamos</h3>
            <ol id="listado">
                <li>
                        Dificultades de relación con los iguales
                </li>
                <li>
                    Autoestima
                </li>
                <li>
                        Problemas de conducta en casa y en el colegio
                </li>
                <li>
                        Manejo del enfado y la ira
                </li>
                <li>
                        Trastornos de la ansiedad
                </li>
                <li>
                        Miedos e inseguridades
                </li>
                <li>
                        Acoso escolar (Bullying) y/ó acoso a través de redes sociales (Ciberbullying)
                </li>
                <li>
                        Autolesiones (Cutting)
                </li>
                <li>
                        Problemas de alimentación: anorexia, bulimia
                </li>
                <li>
                        Enuresis noctura
                </li>
                <li>
                        Problemas de identidad
                </li>
                <li>
                        Orientación académica y profesional
                </li>
                <li>
                        Pautas educativas para padres y madres
                </li>
            </ol>
        </div>
    </div>
</div>
