<div id="body">
    <h1><span>Parejas</span></h1>
    <div>
        
        <div class="article">
            
             <img class="fotosPequenas" src="images/pareja.jpg" alt="dibujo pareja">
            
            <h3>Los temas más comunes por los que las parejas acuden a terapia son</h3>

            <ol id="listado">
                <li>
                        Problemas de comunicación
                </li>
                <li>
                        Discusiones
                </li>
                <li>
                        Dificultades derivadas de situaciones vitales importantes: nacimiento de hijos, cambio de residencia, marcha de los hijos del hogar, jubilación
                </li>
                <li>
                        Problemas con la familia política o familia de origen
                </li>
                <li>
                        Crisis relacionadas con problemas de celos e infidelidades
                </li>
                <li>
                        Conflictos individuales de uno de los miembros de la pareja por causas ajenas a la relación
                </li>
                <li>
                        Mediación en separaciones y divorcios
                </li>
                <li>
                        Intervención en resolución de conflictos de pareja
                </li>
            </ol>
            
        </div>
    </div>
</div>
