.navbar-brand{
	font-size: 1.8em;
}
#topContainer{
	background-image: url("../img/ordenaMovil.jpeg");
	height: 400px;
	width: 100%;
	background-size: cover;
}
#topRow{
	margin-top: 250px;
	text-align: center;
}

#topRow h1{
	font-size: 300%;
}

.bold{
	font-weight: bold;
}

.marginTop{
	margin-top: 30px;
}

.center{
	text-align: center;
}

.title{
	margin-top: 100px;
	font-size: 300%;
}

#footer{
	background-color: #D3BEB9;
	width: 100%;
}

.marginBotton{
	margin-bottom:  30px;
}

.mani{
	font-size: .7em;
	color: #757678;
}

#continuar{
	width: 100px;
}
.glyphicon-lg{
	font-size: 50px;

}
.rightCol{
	border-right: solid;
}
a{
	color: #333333;
}
a:hover{
	text-decoration: none;
	color: #333333;
}
.cabeceraContacto{
	background-color: #D3BEB9;
}

#capaCookie{
	position: fixed;
	background-color: #757678;
	opacity: .7; 
	padding: 10px;
}	

#capaCookie span{
	font-size: 1.5em;
}		

/*CSS parte Angular*/
#header-wrapper{
	width: 100%;
}

.logo{
	padding: 10px;
	margin-right: 10px;
	font-size: 35px;
	font-family: fantasy;
}

.tagline{
	font-size: 10px;
	margin-top: 50px;
	margin-left: -123px;
	font-family: monospace;
}

.nav-wrapper{
	margin-left: 100px;
	margin-top: 15px;
}

.bookListWrapper{
	width: 100%;
	padding: 10%;
}

.bookListWrapper input{
	width: 25%;
}

.bookListWrapper .book{
	border: 1px solid gray;
	padding: 10px;
	margin-bottom: 10px;
	position: relative;
}

.bookListWrapper .book .book-details{
	margin-left: 160px;
}

.container.ng-enter{
	-webkit-transition: 0.5s linear all;
	-moz-transition: .5s linear all;
	-o-transition: .5 linear all;
	transition: .5 linear all;
	opacity: 0;
}

.container.ng-enter-active{
	opacity: 1;
}

.book.ng-leave{
	-webkit-transition: 0.5s linear all;
	-moz-transition: .5s linear all;
	-o-transition: .5 linear all;
	transition: .5 linear all;
	opacity: 1;
	left: 0;
}

.book.ng-leave-active{
	opacity: 0;
	left: 600px;
}

.book.ng-enter{
	-webkit-transition: 0.5s linear all;
	-moz-transition: .5s linear all;
	-o-transition: .5 linear all;
	transition: .5 linear all;
	opacity: 0;
	left: 600px;
}

.book.ng-enter-active{
	opacity: 1;
	left: 0px;
}