.logo, .logopsicologa{
    margin-bottom: 0px;
}

.logopsicologa figure{
    margin-top: 0;
    margin-bottom: 0;
}

nav{
    background-color: #3DB3C7;
}

nav .brand-logo{
    font-size: 1.7rem;
}

.page-footer{
    background-color: #252525;
}

#facebook{
    background-position: -34px 2px;
}

#facebook:hover{
    background-position: -34px -29px;
}

#instagram{
    background-position: -68px 4px;
}

#instagram:hover{
    background-position: -68px -29px;
}

footer .container a{
    background: url(../images/social-icons-sprite.png) no-repeat 0 0;
    display: block;
    height: 33px;
    margin: 0;
    padding: 0;
    text-indent: -99999px;
    width: 32px;
}

footer span{
    position: relative;
    bottom: -5px;
}

.parallax-container {
    min-height: 300px;
    height: 450px;
    margin: 20px 0;
  }

.parallax-container .card{
    background-color: rgba(0,0,0,0.6);
}

.parallax-container .row{
    margin: 10px;
}

.consultas{
    font-size: 24px;
    font-weight: 300px !important;
    background-color: rgba(255,255,255,0.7)
}

.consultas-small{
    background-color: rgba(61, 179, 199,0.7);
}

figcaption{
    font: italic 14px verdana, sans-serif;
}

#listado li{
	color: #252525;
	list-style: inside;
	line-height: 24px;
    list-style-type: none;
    margin-bottom: 10px;
}

#listado li::before{
	content: "\2714";
	margin-right: .5em; 
}

#listado li:last-child{
	margin-bottom: 30px;
}

a.waves-effect.waves-light.btn-large{
    width: 100%;
    background-color: rgba(61, 179, 199,0.7);
    margin-top: 10px;
}

h2{
    font-size: 2.28rem;
}

#card-call, #card-online{
    min-height: 0px;
    background-color: rgba(61, 179, 199,0.7);
    padding: 18px;
}

#btn-online{
    height: 182px;
    padding-top: 58px;
    font-size: 2.5em;

}

@media only screen and (min-width: 992px){
    html {
        font-size: 14px;
    }
}

@media screen and (min-width: 600px){
    div.card-content.temas{
        min-height: 120px;
    }
    .index-row{
        padding-top: 8%;
    }
}

@media screen and (min-width: 992px){
    div.card-content.white-text{
        min-height: 150px;
    }
    .col.s12 div.card div.card-content.white-text{
        min-height: 60px !important;
    }
    .index-row{
        padding-top: 8%;
    }
    #logoPsicologia{
        height: 100px;
    }
  }

  @media only screen and (min-width: 601px) and (max-width: 780px) {
    #card-call{
        height: 129px;
    }
    #btn-online{
        font-size: 2em;
    }
}

  