


<div class="row">
	<div class="col-md-12">
		<header>
			<h1>Todo list</h1>

				<form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)">
					<div class="input-group">
						<span class="input-group-addon">Add new tasks </span>
							<input class="form-control col-md-4" ng-model="$ctrl.newTask" type="text" name="text" placeholder=" Type to add new tasks"/>
						
						
					</div>
				</form>
		</header>

		<ul class="list-group">
			<li ng-repeat="task in $ctrl.tasks" class="list-group-item" ng-class="{'checked': task.checked}">
				<button class="delete btn btn-default" ng-click="$ctrl.removeTask(task)">&times;</button>
				<input type="checkbox" ng-checked="task.checked" ng-click="$ctrl.setChecked(task)" class="toggle-checked"/>
				<span class="text">
					{{task.text}}
				</span>
			</li>
		</ul>
	</div>
</div>